<style>
  #profile-about {
    max-width: 800px;
  }
  #profile-about-hello {
    font-size: 22px;
    font-weight: bolder;
  }
  #profile-about-profession {
    font-size: 18px;
    font-weight: bolder;
  }
  .profile-about-text {
    font-size: 16px;
    line-height: 1.5;
  }
</style>
<div id="profile-about">
  <p id="profile-about-hello" class="profile-about-text">Hi there 👋, I'm Mesh</p>
  <p id="profile-about-profession" class="profile-about-text">I'm a full-time software developer with over 12 years experience.</p>
  <p class="profile-about-text">
    During this time I've worked for various industries 
    such as telecommunications, education, housing, automotive and e-commerce.
  </p>
  <p class="profile-about-text">
    I'm interested in working on personal projects to enhance my skills 
    and explore technologies which I haven't worked with before.
  </p>
</div>
