<% if (langLists) { %>
  <% for (const technology of langLists) { %>
    <div style="font-weight: bold; font-weight: 14px; margin-bottom: 5px"><%- technology['title'] %></div>
    <div style="margin-bottom: 10px">
      <% for (const tag of technology['list']) { %>
        <span><%- tag %></span>
      <% } %>
    </div>
  <% } %>
<% } %>